@import '../../styles/variables';
@import '../../styles/swagger';

.documentation {
  .swagger-ui {
    .information-container {
      max-width: 776px;
    }
    .wrapper {
      margin: unset;
    }
  }
}
.api-docs-wrapper,
.version-selector-container + p {
  max-width: 776px;
}

va-alert {
  margin-bottom: 8px;

  + div:has(h1#page-header) {
    margin-top: 24px;
  }
}
